@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Poppins:wght@300&display=swap');


.car-img{ width: 250px; margin-left: 15px;}

.slider{
    margin-top: 70px;
}

.slider .wrapper{
    scroll-behavior: smooth;
}

.wrapper .dragging{
    cursor: grab;
}

.wrapper .dragging img{
    pointer-events: none;
}



.slider > h1{
    margin-left: 20px ;
}

.wrapper{
    display: block;
    overflow: auto;
    max-width: 95vw;
    margin: 0 auto;
}

ul{
    display: flex;
    list-style-type: none;
}

li > p{
    margin-left: 15px;
}

.slider > i{
    border-radius: 50%;
    width: 35px;
    height: 36px;
    padding: 11px;
}


#icon2-right{
    position: absolute;
    top: 125vh;
    left: 87vw;
}

#icon1-left{
    display: none;
    position: absolute;
    top: 125vh;
    left: 2vw;
}

#icon1-left, #icon2-right:hover{
    transition: 1s ease-in;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.208);
    cursor: pointer;
}

.car-img:hover{
    cursor: pointer;
    transition: .2s ease-in-out;
    transform: scale(1.052);
    object-fit: fill;
}

li > p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 18px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
    line-height: 20px;
}

.valor{
    margin-top: 30px;
    margin-left: 20px;
    color: #818181;
    font-size: 18px;
}

.em-breve{
    color: #818181;
    font-size: 18px;
}