@charset "UTF-8";


.car-img{ width: 250px; margin-left: 15px;}

.slider{
    margin-top: 70px;
}

.slider .wrapper{
    scroll-behavior: smooth;
}

.wrapper .dragging{
    cursor: grab;
    scroll-behavior: auto;
}

.wrapper .dragging img{
    pointer-events: none;
}



.slider > h1{
    margin-left: 20px ;
}

.wrapper{
    display: block;
    overflow: auto;
    max-width: 95vw;
    margin: 0 auto;
}

ul{
    display: flex;
    list-style-type: none;
}

li > p{
    margin-left: 15px;
}

.slider > i{
    border-radius: 50%;
    width: 35px;
    height: 36px;
    padding: 11px;
}


#icon2-right{
    position: absolute;
    top: 125vh;
    left: 87vw;
}

#icon1-left{
    display: none;
    position: absolute;
    top: 125vh;
    left: 2vw;
}

#icon1-left, #icon2-right:hover{
    transition: 1s ease-in;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.208);
    cursor: pointer;
}

img:hover{
    cursor: pointer;
    transition: .2s ease-in-out;
    transform: scale(1.052);
    object-fit: fill;
}